/* 기본 스타일 */
.recipeList_wrap {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 150px;
}

/* 게시글쓰기 버튼 스타일 */
.create_recipe_button {
  background-color: #ffffff; /* 버튼 배경색 */
  color: #000000; /* 버튼 글자색 */
  border: 2px solid #d7d7d7;
  border-radius: 10px; /* 버튼 모서리 둥글기 */
  padding: 3px 10px; /* 버튼 안쪽 여백 */
  font-size: 16px; /* 글자 크기 */
  text-align: center; /* 텍스트 중앙 정렬 */
  text-decoration: none; /* 링크 텍스트 밑줄 제거 */
  transition:
    background-color 0.3s,
    box-shadow 0.3s; /* 색상과 그림자 변화 효과 */
}

.create_recipe_button:hover {
  background-color: #b7b7b7; /* 호버 시 배경색 변경 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 효과 */
  color: white;
}
.recipe_banner_wrap {
  position: relative;
  display: grid;
  gap: 16px;
  padding: 16px;
  margin: 0 auto;
}

/* 카테고리 필터 */
.recipe_category_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.category_filter {
  display: flex;
  position: relative;
  gap: 10px;
  margin-bottom: 20px;
}

/* 카테고리 버튼 스타일 */
.category_button {
  background-color: #ffffff;
  color: #333;
  border: 0.5px solid #dddddd;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  text-wrap: nowrap;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}

.category_button.active {
  background-color: #ff6f61;
  color: #ffffff;
  border-color: #ff6f61;
}

.category_button:hover {
  background-color: #ff6f61;
  color: #ffffff;
}

.recipe_state_wrap {
  display: flex;
  flex-direction: column;
  border: 0.5px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
  background-color: white;
}
.recipe_tag {
  display: inline-block;
  margin-right: 4px; /* 태그 사이에 간격 추가 */
  font-size: 0.9rem; /* 태그 글씨 크기 */
  color: #555; /* 태그 색상 */
}

.recipe_state_wrap:hover {
  transform: translateY(-5px);
}

.recipe_imageUrl img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/16;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.recipe_state_wrap:hover .recipe_imageUrl img {
  opacity: 0.9;
}

.recipe_text_wrap {
  padding: 12px;
}

.recipe_state_name {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.recipe_state_tags {
  height: 50px;
  display: block;
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 8px;
}

.recipe_state_level,
.recipe_state_servings,
.recipe_state_viewcount {
  display: inline-block;
  font-size: 0.85rem;
  color: #555;
  margin-right: 12px;
}

/* 반응형 스타일 */

/* Mobile */
@media screen and (max-width: 767px) {
  .recipe_banner_wrap {
    width: 100%;
    grid-template-columns: 1fr; /* 작은 화면에서 한 개씩 나열 */
  }
  .recipe_category_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .category_filter {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개씩 나열 */
    gap: 10px;
    margin-bottom: 20px;
  }

  .create_recipe_button {
    position: absolute;
    top: -2.5rem;
    right: 0;
  }

  .category_button {
    width: 100%; /* 버튼이 grid 아이템을 꽉 채우도록 */
    text-align: center;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .recipe_banner_wrap {
    grid-template-columns: repeat(2, 1fr); /* 중간 크기 화면에서 두 개씩 나열 */
    width: 800px;
  }
}

/* Small Desktop */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .recipe_banner_wrap {
    grid-template-columns: repeat(2, 1fr); /* 두 개씩 나열 */
    width: 1000px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) and (max-width: 1799px) {
  .recipe_banner_wrap {
    grid-template-columns: repeat(2, 1fr); /* 두 개씩 나열 */
    width: 1000px;
  }
}

/* Large Desktop */
@media screen and (min-width: 1800px) {
  .recipe_banner_wrap {
    grid-template-columns: repeat(3, 1fr); /* 큰 화면에서 세 개씩 나열 */
    width: 1200px;
  }
}
