/* eventdetail.css */
.eventdetail_wrap {
  width: 100%;
  margin: 0 auto;
  padding: 40px 14px;
   /* 패딩 추가로 여백 확보 */
}

.eventdetail_content {
  margin: 0 auto;
  margin-bottom: 20px; /* 이미지 아래 여백 조정 */
}

.eventdetail_state_wrap {
  padding: 15px;
  box-sizing: border-box; /* 패딩과 마진을 포함한 너비 설정 */
  border: 1px solid #ddd; /* 테두리 추가 */
  border-radius: 8px; /* 테두리 둥글게 */
  background-color: #f9f9f9; /* 배경색 추가 */
}

.eventdetail_text_wrap {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* 모바일에서 세로 정렬 */
}

.eventdetail_state_name {
  display: block; /* 블록으로 변경하여 전체 너비 사용 */
  font-size: 1.5rem; /* 글자 크기 조정 */
  font-weight: bold; /* 글자 두께 조정 */
  margin-bottom: 10px; /* 아래 여백 추가 */
}

.eventdetail_date {
  font-size: 1rem; /* 글자 크기 조정 */
  color: #666; /* 색상 조정 */
  text-align: left; /* 왼쪽 정렬 */
  margin-bottom: 20px;
}

.eventdetail_content img {
  height: auto; /* 이미지 비율 유지 */
  border-radius: 8px; /* 이미지 둥글게 */
}

/* 반응형 디자인 */
/* Mobile */
@media screen and (max-width: 767px) {
  .eventdetail_content {
    width: 100%;
    margin: 0 auto;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .eventdetail_content {
    width: 80%;
    margin: 0 auto;
  }
}

/* Small Desktop */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .eventdetail_content {
    width: 70%;
    margin: 0 auto;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) and (max-width: 1799px) {
  .eventdetail_content {
    width: 60%;
    margin: 0 auto;
  }
}

/* Large Desktop */
@media screen and (min-width: 1800px) {
  .eventdetail_content {
    width: 50%;
    margin: 0 auto;
  }
}
