.eventBody {
  width: 100%;
  display: flex;
  justify-content: center;
}

.eventCenter {
  width: 60%;
  text-align: center;
  border: 1px solid red;
}

.envetlist {
  cursor: pointer;
}

#event1 {
  font-size: 50px;
}
#event2 {
  font-size: 40px;
}
