#mapBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mapPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;

  /* border: 1px solid red; */
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mapContainer {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */

  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

#mapContainer {
  flex-wrap: wrap;
}

.customer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  justify-content: center;
  margin-top: 35px;
}

.bmw {
  font-size: 90%;
}

.mapSearch {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 130%;
}

.mapSearchInput {
  width: 100%;
}

.mapSearchInput input {
  border-radius: 10px;
}

#searchEx {
  font-size: 100%;
  color: grey;
}
