.adminTotalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adminLogoutImg {
  width: 100%;
  display: flex;
  justify-content: start;
  border: 1px solid black;
  cursor: pointer;
}
.adminLogoutImg img {
  width: 80px;
  height: 80px;
}

.AdminForm {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 50px;
}

.adminfield {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}

/* label {
  flex: 1;
  font-weight: bold;
} */

input {
  flex: 3;
  padding: 5px;
}

.adminbtns button {
  background: blue;
  color: white;
  font-weight: bold;
}

.adminContainer {
  width: 100%;
  margin: 0 auto;
  border: 1px dotted red;
  display: flex;
  flex-direction: column;
}
.adminmenu {
  width: 100%;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 20px 0;
}
.adminmenu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px;
}
.productTable {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.productTable .adminrow {
  display: flex;
}
.productTable .adminrow .admincol {
  flex: 1;
  padding: 23px 0;
  text-align: center;
  border: 1px solid black;
  margin: 1px;
}

.productTable .adminrow .admincol:nth-child(2) {
  flex: 2;
}

.productTable .adminrow:first-child .admincol {
  background-color: grey;
  color: white;
  font-weight: bold;
}

.productTable .adminfield {
  width: 100%;
  padding: 5px;
  display: flex;
  border: 1px solid black;
  box-sizing: border-box;
}

.productTable .adminfield label {
  flex: 1;
  padding: 3px;
}
.productTable .adminfield input {
  flex: 5;
  padding: 3px;
}
.productTable .adminfield div {
  flex: 5;
}

.adminbtns {
  display: flex;
}
.adminbtns button {
  flex: 1;
  padding: 5px;
  margin: 2px;
}

.adminSearch {
  border: 1px solid black;
}

.AdminAdminForm {
  width: 400px;
}

.AdminAdminLogin {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.adminadmin {
  display: flex;
  align-items: center;
  border: 1px solid black;
}
.adminadmin label {
  flex: 1;
  font-weight: bold;
}
.adminadmin input {
  border: 1px solid #ddd;
}
