#inquirybody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inquirycontainer {
  display: flex;
  flex-direction: column;
  width: 64%;
  border: 1px solid red;
}

#inquiryhead {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}

#inquiryanswer {
  font-size: 20px;
  font-weight: bold;
}

#inquirytitle {
  font-size: 50px;
}

#inquirydate {
  font-size: 25px;
}

#inquirycontent {
  font-size: 30px;
}

#inquiryback {
  cursor: pointer;
  font-size: 25px;
  border: 1px solid black;
}
