.iqBody {
  width: 100%;
  display: flex;
  justify-content: center;
}

.iqCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 64%;
  /* border: 1px solid red; */
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#iq1 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  border: 1px solid black;
}
#inquiryWrite {
  width: 170px;
  display: flex;
  justify-content: end;
  align-items: center;
  border: 1px solid black;
  font-size: 30px;
  cursor: pointer;
}
#iq1 img {
  width: 40px;
  height: 45px;
}

#blank {
  width: 120px;
}

.iqitem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 90%;
  height: 100px;
  border: 1px solid black;
  margin-top: 30px;
  cursor: pointer;
}

.iqanswer {
  font-size: 20px;
  font-weight: bold;
}
.iqname {
  font-size: 35px;
}

.iqdate {
  font-size: 20px;
  color: gray;
}
