/* Events.css */


.ranking_banner_wrap {
  display: grid;
  grid-template-columns: repeat(4, 18.5rem); /* 한 줄에 4개의 열을 균등하게 배치 */
  place-items: center;
  justify-content: center;
  top:5rem;
  border-top:1px solid gray;
  padding-top:90px;
  padding-left:0;
}



.ranking_state_wrap {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  text-align: center;
  box-sizing: border-box; /* padding과 border를 포함한 전체 너비 계산 */
  width: 17.5rem;
  height: 17.5rem;
  margin-bottom: 10rem;
  border-radius: 10px;
  top:50px;
}

.ranking_imageUrl{
  
  height: 100%;
  
}

.ranking_imageUrl img {
  
  height: 100%;
  border-radius: 10px;
}

.ranking_text_wrap {
  margin-top: 8px;
}

.ranking_state_name {
  font-weight: bold;
  display: block;
}

.ranking_date {
  color: #888;
}

.ranking_num{
 position: absolute;
  top: -4px;
  left:-3px;
  
  z-index: 100;
  background: #fff;
  border: 1px solid #bbb;
  -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.08);
  min-width: 36px;
  text-align: center;
  border-radius: 4px;
  line-height: 1;
  padding: 8px 7px 10px;
  letter-spacing: -0.03em;
  vertical-align: unset;
}

.ranking_container {
  margin-bottom: 20px; /* 이벤트 항목 간 간격 조정 */
  position:relative;
}
/* 반응형 디자인 */
/* Mobile */


/* src/components/FoodCategoryList.css */
.category-container {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.category-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.category-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.category-item {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.category-button:hover {
  color: #0056b3;
}
